body{
    background-color: lightblue;
    color: black;
    margin: 0;
    padding: 0;
}
body.page1 {
    text-align: center;
}
body.page1 ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    text-align: center;
}

body.page2 {
    text-align: center;
}

body.page3 div.part2 {
    text-align: center;

}

body.page1 div.page1Part2 {
    color: blueviolet;
}
body.page1 {
    color: slateblue;
    height: 100vh;
}